@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: #ef476f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    width: 150px;
    height: 50px;
    border: 1px solid #293241;
    font-family: 'Playfair', serif;
    font-size: 25px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    transition: 1s;
}

.btn::before, .btn::after{
    position: absolute;
    background: #ef476f;
    z-index: -1;
    transition: 1s;
    content: '';
}

.btn::before{
    height: 50px;
    width: 130px;
}

.btn::after{
    width: 150px;
    height: 30px;
}

.noselect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn:hover::before{
    width: 0px;
    background: #edf2f4;
}

.btn:hover::after{
    height: 0px;
    background: #edf2f4;
}

.btn:hover{
    background: #edf2f4;
}